name: check latest version

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

jobs:
  lint-and-fmt:
    runs-on: ubuntu-latest
    timeout-minutes: 1

    steps:
      - uses: actions/checkout@v3

      - name: Check version
        env:
          REPO_NAME: ${{ github.repository }}
        run: bash scripts/check-version-increase.sh $REPO_NAME
